.main-stage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    
}

.left-box{
    
}

.right-box{
    
}

.division-dropdown-one{

}

.division-dropdown-two{

}